.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	h4 {
		margin-top: auto;
	}

	button {
		margin-bottom: auto;
	}
}

.download_link {
	display: block;
	font-size: 12px;
	text-align: center;
	margin-top: 1rem;
}