.progress_bar {
	position: fixed;
	bottom: 0;
	height: 4px;
	left: 0;
	right: 0;
	z-index: 99;
}

.progress_bar__indicator {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: white;
}