.sentences {
	.noselect;
	height: 100px;
	opacity: 1;
	transition: opacity 3s;
}

.sentence {
	display: inline-block;
	width: 100vw;
	font-size: 36px;
	text-align: center;
	padding-bottom: 1em;

	@media screen and (max-width: 800px) {
		font-size: 26px;
	}
}